body {
    --nav-width: 250px;
    margin: 0 0 0 var(--nav-width);
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}
.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}
.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #005e95;
}

.pill{
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #dddddd;
    cursor: pointer;
    display: inline-block;
    position: relative;
    
}
.pill:hover{
    background: #cccccc;
}
